*{
	box-sizing: border-box;
}
 a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   } 
 li {
    list-style-type: none; /* Убираем маркеры */
   }

.card{width: 100%; display: inline-block;}

.icon{
  width: 50px;
}
.icon:hover{
  border-color: #fff;
}
.aze{
  width:50px ;
}

.icon:hover{
  background-color: #fff;
  border-radius: 50%;
  transition: padding 0.3s ease-out, background-color 1s ease;
}
  body{
  	margin: 0;
  	padding: 0;
  	font-family: 'Roboto',sans-serif;
  	background-color:#000 
  }
 .nav{
 	width: 100%;
 	min-height: 100%;
 	background-color:#000;
 	text-align: center;
 	padding: 10px;
 	font-weight:600;
 }

   .menu{
  	display: flex;
  	flex-flow: row;
  	color: #fff;
  	list-style-type: none;
  	margin: 0 auto;
  	padding: 0;
  	justify-content: space-around;
  	
  }
  .name{
  	display: block;
  	margin-right: auto;
  	color: #fff;
    background-color: #000;
  }
  .name:hover{
    color: #000;
    background-color: #fff;
    transition: padding 0.3s ease-out, background-color 1s ease;
  }
  .menu li{
  	padding: 10px
  }
header{
	width: 100%;
	height: 400px;
    background-image:url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/96100/b634bae382254704dbbfa6568c1664df51f0f577.jpg");
    background-size: cover;
    text-align: center;
    padding-top: 40px;
transition: all .5s;
}
header img{
	border-radius: 50%;
	border: 8px solid #000;
    
}
header  .profil:hover {
	transform: scale(1.4); rotate(1 deg);
}
.profil{
  width: 160px;
}

.tag{
  display:flex;
  width: 250px;
  padding: 10px;
  margin:10px auto;   
  border-radius:10px;
	justify-content:center;
	color: #fff;
  background-color: transparent;

}
.tag:hover{
  background-color: #000;
  transition: padding 0.3s ease-out, background-color 1s ease;  
}
.sub-title{
	background-color: transparent;

}
.sub-title:hover{
  background-color: #000;

  transition: padding 0.3s ease-out, background-color 1s ease;
}

.content{
	
	margin: 0 auto;

	

}
	hr {
    border: none; 
    background-color:#fff;
    color: red; 
    height: 2px; 
   }

footer {
	padding: 60px;

  color: #FFFFFF;

  font-size: 20px;

}


.tag_list{
	list-style-type: none;
	display: flex;
	flex-flow: row;
}


.created-by {

  color: #FFFFFF;

  font-size: 20px;

}
.ag{
  width: 10px;
  margin:20px;
  color: #fff;
  transition: transform 1s ease;
  background-color: #000;
  float: left;
  font-size: 11px;
 }

 .elekum{
  color: #fff;
  transition: transform 1s ease;
  background-color: #000;
  float: center;
  width: 800px;
 }
 .elekum:hover{
   transform: rotateX(43deg);
 }
.ag:hover{
  transform: rotateX(43deg);
}
.go{
	width: 100px;
	height:50px;
    image-rendering: center;
    border-radius: 50%;
	border: 5px solid #111;
}
.tag-yellow{
  background-color: #fff; 
  width: 55px;
  height: 10px;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  color: #000;
}
.tag-yellow:hover{
  color: #FFF;
  padding: 20px;
  background-color: #000;
  transition: padding 0.3s ease-out, background-color 1s ease;
}
.tag-blue{
  background-color:#fff ;
  width: 50px;
  height: 10px;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  color: #000; 
}
.tag-blue:hover{
   color: #fff;
  padding: 20px;
  background-color: #000;
  transition: padding 0.3s ease-out, background-color 1s ease;
}
.h:hover{
  color: #000;
  background-color: #fff;
  transition: padding 0.3s ease-out, background-color 1s ease;
}
.h{
  background-color: #000;
  color: #fff;
}
.rightimg{
  flex-flow: column;
  float:right ;
  margin: 7px 7px 7px 0;
  border-radius: 30%;
  border: 8px solid #fff;
  text-align: center;
}
.rig{
  float:left ;
  margin: 7px 7px 7px 0;
  border-radius: 30%;
  border: 8px solid red;
  width: 45%;
}
.rightimg:hover{
  transform: scale(1.1); rotate(1 deg);
}
.qaqa{
  text-align: right;
  border-radius: 30%;
  border: 8px solid #fff;
  width: 380px;
}
.qaqa:hover{
  transform: scale(1.2); rotate(1 deg);
}
.aqa{
  float: right;
  font-size: 25px;
  color: #fff;
  transition: transform 1s ease;
  background-color: #000;
  width: 350px;
  height: 5px;
}
.qa{
  float: right;
  color: #fff;
  transition: transform 1s ease;
  background-color: #000;
  width: 350px;
  height: 5px;
}
.qa:hover{
  transform: rotateX(43deg);
}

.aqa:hover{
  transform: rotateX(43deg);
}



.card{width: 100%; display: inline-block;}

 @media (min-width: 786px){
  #banner h2 {
   font-size: 2rem;
 }
.rightimg{
  flex-flow: column;
  width: 50%;
}
 #three article{
  width: 100%;
 }
.card{width: 100%; display: inline-block;}

 @media (min-width: 786px){
  #banner h2 {
   font-size: 2rem;
 }
.ag{
  flex-flow: column;
  width: 100%;
}
.elekum{
  flex-flow: column;
  width: 100%;
}
.aqa{
  flex-flow: column;
  height: 100%;
  text-align: center;
}
.qaqa{
  flex-flow: column;
  height: 100%;
}
 #three article{
  width: 100%;
 }


